




































































































































































































































































































html { height:100%; }
body {
    background: #2889cc;
    background: -moz-linear-gradient(top, #2889cc 0%, #3c94d2 7%, #57a5dc 13%, #9acef6 27%, #bde1ff 33%, #dbf1ff 40%, #f2fcff 47%, #ffffff 53%, #9e6c00 60%, #d19500 67%, #e0aa17 73%, #e8bc43 80%, #f6e3b0 93%, #fbf4df 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2889cc), color-stop(7%,#3c94d2), color-stop(13%,#57a5dc), color-stop(27%,#9acef6), color-stop(33%,#bde1ff), color-stop(40%,#dbf1ff), color-stop(47%,#f2fcff), color-stop(53%,#ffffff), color-stop(60%,#9e6c00), color-stop(67%,#d19500), color-stop(73%,#e0aa17), color-stop(80%,#e8bc43), color-stop(93%,#f6e3b0), color-stop(100%,#fbf4df));
    background: -webkit-linear-gradient(top, #2889cc 0%,#3c94d2 7%,#57a5dc 13%,#9acef6 27%,#bde1ff 33%,#dbf1ff 40%,#f2fcff 47%,#ffffff 53%,#9e6c00 60%,#d19500 67%,#e0aa17 73%,#e8bc43 80%,#f6e3b0 93%,#fbf4df 100%);
    background: -o-linear-gradient(top, #2889cc 0%,#3c94d2 7%,#57a5dc 13%,#9acef6 27%,#bde1ff 33%,#dbf1ff 40%,#f2fcff 47%,#ffffff 53%,#9e6c00 60%,#d19500 67%,#e0aa17 73%,#e8bc43 80%,#f6e3b0 93%,#fbf4df 100%);
    background: -ms-linear-gradient(top, #2889cc 0%,#3c94d2 7%,#57a5dc 13%,#9acef6 27%,#bde1ff 33%,#dbf1ff 40%,#f2fcff 47%,#ffffff 53%,#9e6c00 60%,#d19500 67%,#e0aa17 73%,#e8bc43 80%,#f6e3b0 93%,#fbf4df 100%);
    background: linear-gradient(to bottom, #2889cc 0%,#3c94d2 7%,#57a5dc 13%,#9acef6 27%,#bde1ff 33%,#dbf1ff 40%,#f2fcff 47%,#ffffff 53%,#9e6c00 60%,#d19500 67%,#e0aa17 73%,#e8bc43 80%,#f6e3b0 93%,#fbf4df 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2889cc', endColorstr='#fbf4df',GradientType=0 );
    height:100%;
}

h1 {
  font-family: "Comic Sans MS", fantasy, cursive, monospace;
  font-size: 120px;
  text-align:center;
  color:#fff;
  text-shadow:6px 2px 0px #000;
}
