doctype 5
html
  head
    title Socket.IO
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    input.message(placeholder='Type your message')
    input.submit(type='submit') Submit
    .messages
  script
    // Add the Socket.IO Client below. 
    var socket = io.connect(location);
    socket.on("message", function(data) {
        $(".messages").prepend($("<div>").text(data.message))
    });
    $(".submit").click(function() {
        socket.emit("message", {message: $(".message").val() });
        $(".message").val('');
    });
