doctype 5
html
    head
        title WDIM493J Node.js Class Notes
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Terminal+Dosis+Light:regular&v1")
        link(rel="stylesheet", href="/css/common.css")
    body
        h1 WDIM493J Node.js Class Notes
        ul
            each week in weeks
                li
                    a(href="#{week.href}/") #{week.title}

